{% extends 'shared/base.html' %}
{% block head_title %}Log In{% endblock %}
{% block content %}
{% load static %}
{% load account socialaccount %}
<div class="container">
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="container card d-flex mt-4 justify-content-center">
      <div class="card-header">
        <h1>Log In</h1>
      </div>
      <form class="card-body" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <!-- <a href="#" class="btn-face"><i class="fa fa-facebook-official"></i>Facebook </a> -->
        <div class="row my-3">
          <label class="col-6 fw-bold" for="id_email">Email</label>
          <div class="col-6">
            <input class="form-control" autocomplete="username" type="email" name="login" placeholder="E-mail address"
              autofocus="autofocus" required="" id="id_login">
          </div>
        </div>

        <div class="row my-3">
          <label for="id_password1" class="col-6 fw-bold">Password</label>
          <div class="col-6">
            <input autocomplete="current-password" class="form-control" type="password" name="password"
              placeholder="Password" required="" id="id_password">
          </div>
        </div>
        <button class="btn text-white my-3" style="background: #030234;" type="submit">Log In</button>
        <!-- <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
          </div>
        </div> -->
        <div class="d-flex justify-content-center mb-4">
          <a href="{% provider_login_url 'google' %}" class="btn btn-primary w-50"><img class="img-fluid px-3"
              src="{% static 'hotel/img/icon-google.png' %}" alt="GOOGLE">Log In with Google</a>
        </div>
        <div class="card-footer text-center">
          <h5>Not a member? <a href="{{ signup_url }}">Sign Up Now</a></h5>
          <a class="my-2" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
  <div class="col-3"></div>
</div>
{% endblock %}