{% extends 'shared/base.html' %}
{% block head_title %}Password Reset{% endblock %}
{% load static %}
{% block content %}
<h1 class="text-center my-4">Customer Login</h1>
<div class="container">
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}
</div>
<div class="container d-flex justify-content-center">
  <form class="password_reset" id="password_reset_form" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <h1>Password Reset </h1>
    <p style="text-align: center;">Forgotten your password? Enter your e-mail address below, <br>
    and we'll send you an e-mail allowing you to reset it.</p>
    <div class="row">
      <div class="col-4">
        <label for="id_email" class="fw-bold">Email</label>
      </div>
      <div class="col-8"></div>
      <input class="form-control" type="email" name="email" size="30" placeholder="E-mail address" required=""
        id="id_email">
    </div>

    <div class="row my-3">
      <div class="col-6"></div>
      <div class="col-6">
        <button type="submit" class="btn text-white my-3" style="background: #030234;">Reset My Password</button>
      </div>
    </div>
    <p style="margin-top: 2em;">Please contact us if you have any trouble resetting your passwod.</p>
  </form>
</div>
{% endblock %}