{% extends 'shared/base.html' %}
{% block head_title %}About{% endblock %}
{% block content %}
{% load static %}
<div class="container ">
    <h1 class="text-center my-3">Contact Us</h1>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <h5 class="card-header">Address</h5>
                <div class="card-body">
                    <p class="card-text">
                        Revox Crossraid, 85/B Cross Street,<br>
                        New York, USA <br>
                        NA1 425L
                    </p>
                </div>
            </div>
            <hr>
            <div class="card">
                <h5 class="card-header">Business Hours</h5>
                <div class="card-body">
                    <p class="card-text">
                        Monday - Friday 8am to 4pm <br>
                        Saturday - 7am to 6pm <br>
                        Sunday - Closed
                    </p>
                </div>
            </div>
            <hr>
            <div class="card">
                <h5 class="card-header">Telephone</h5>
                <div class="card-body">
                    <p class="card-text">
                        +91 0123456789<br>
                        +91 0123456789<br>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-12 col-lg-6">
            <h4>Drop us line so that we can hear from you</h4>
            <form action="">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="email" class="form-control" id="name" placeholder="Full Name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="email" class="form-control" id="phone" placeholder="Phone numner">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>
                <button type="submit" class="btn text-white" style="background: #030234;">Submit</button>
            </form>

        </div>
    </div>
    <hr>
    <div class="container">
        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=sdm%20colony%20chitrakoot+(My%20Business%20Name)&amp;t=p&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>


    </div>
</div>

{% endblock %}